
<!---<h1 >Interpolation example</h1>
<br>
<b>
   Name : {{ name }}
  <br>Age:{{age}}
  <br>Email<input type="text" value="{{email}}"/>
  <h1>Property Binding Example</h1>
  <br>Name<input type="text" [value]="name"/><br>
  <br>Age<input type="text" [value]="age"/><br>
  <br>email<input type="text" [value]="email"/><br>
  <br>
  <h1>Event Binding Example</h1>
  <button (click)="changeName()">changeName</button>
  <br>
  <img [src]="imagePath"width="300" height="200"/>
  <br>
  <button (click)="changeImage()">Change Image</button>
</b>
<br>
<h1>TWO DATA BINDING</h1>
<br>
Enter Your First Name<input type="text" [(ngModel)]="fname"/>
<br>
<b>Welcome {{fname}}</b>--->
<!---<h1 [ngClass]="myClass">STRUCTURAL AND ATTRIBUTE DIRECTIVE</h1>
<br>
<button (click)="changeFlag()">Show or Hide Div</button>
<br>
<div *ngIf="flag"[ngStyle]="myStyle">
<br>
<ul>
  <li *ngFor="let vec of vehicles"(click)="setSelectedItem(vec)">{{vec}}</li>
</ul>
<br>
<b>You have selected :{{selectedVehicle}}</b>
<br>
<div [ngSwitch]="selectedVehicle">
    <font color="green" *ngSwitchCase="'TwoWheeler'">Bike</font>
    <font color="green" *ngSwitchCase="'ThreeWheeler'">Auto</font>
    <font color="green" *ngSwitchCase="'FourWheeler'">Car</font>
    <font color="green" *ngSwitchDefault>INVALID</font>

</div>
<br>
<button (click)="changeStyle()">Change Style</button>
</div>--->
<table width="80%" align="center">
  <tr>
    <th><a routerLink="home">Home</a></th>
    <th><a routerLink="contact">Contact</a></th>
    <th><a routerLink="about">About</a></th>
  </tr>
</table>

<div>
This is the space for New Component.
<router-outlet></router-outlet>
</div>

<h1>
  Addition:{{sum}}
  Subtraction:{{sub}}
</h1>